@{
    ViewBag.Title = "Надины рецепты";
    ViewBag.Cat = @Model.Type;
}

@model RecipesApp.Models.Recipe
<div id="templatemo_top_dishes">

    @{
        string s = "../../Content/images/pic/" + Model.Id + ".jpg";

        <h1>@Model.Name</h1>
        <div class="recept">

            <table>
                <tr>
                    <td width="200"><img src=@s alt=@Model.Name width="410" height="300" /></td>
                    <td>
                        <h2>Ингредиенты:</h2>
                        <ul>
                            @{
                                string str = Model.Ingridient;
                                string[] sIngrid = str.Split(';');

                                foreach (string vs in sIngrid)
                                {
                                    if (vs.Length > 2)
                                    {
                                        <li>@vs</li>
                                    }
                                }
                            }
                        </ul>
                    </td>
                </tr>
            </table>

            <h2>Способ приготовления:</h2>
            <div class="prigotovlen">
                @Model.Cooking
            </div>
        </div>
        
        <div class="cleaner">&nbsp;</div>
    }

</div> <!-- end of top dishes -->
<div id="templatemo_edit_dishes">
    <p>
        <a href="/Home/Editor/@Model.Id" target="_parent">Редактировать</a>
    </p>
</div>