@{
    ViewBag.Title = "Надины рецепты";
}

<div id="templatemo_top_dishes">


    @{
        foreach (var r in ViewBag.Recipes)
        {
            if (r.Id == ViewBag.Show)
            {
                string s = "../../Content/images/pic/" + r.Id + ".jpg";

                <h1>@r.Name</h1>
                <div class="recept">
                    
                    <table>
                        <tr>
                            <td><img src=@s alt=@r.Name /></td>
                            <td>
                                <h2>Ингредиенты:</h2>
                                <ul>
                                    <li>@r.Ingridient</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    
                    <h2>Способ приготовления:</h2>
                    <div class="prigotovlen">
                        @r.Cooking
                    </div>
                </div>
                <div class="cleaner">&nbsp;</div>
            }
        }
    }


</div> <!-- end of top dishes -->
