@using RecipesApp.Controllers
@{
    ViewBag.Title = "Надины рецепты";
}

<div id="templatemo_top_dishes">
    @{
        <h1>@ViewBag.Cat</h1>
    }


    @foreach (var r in ViewBag.Recipes)
    {
        <div class="top_dishes_box">
            @{
                string s = "../../Content/images/pic/" + r.Id + ".jpg";

                <a href="/Home/About/@r.Id" target="_parent">
                    <img src=@s alt=@r.Name width="205" height="150" />
                </a>
                <h2>@r.Name</h2>
                <p>
                    @r.Ingridient <a href="/Home/About/@r.Id" target="_parent">Читать далее</a>
                </p>
            }
        </div>
     }
    </div>

