@{
    /**/

    ViewBag.Title = "Надины рецепты";
}



<!-- end of menu -->

<div id="templatemo_top_dishes">
    <div><h1>Выберите категорию блюд из меню выше</h1></div>
    
    <div><h1>или <a href="/Home/Create/" target="_parent">Добавьте рецепт</a></h1></div>
</div>
