<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/Site.css" type="text/css" rel="stylesheet">
    <link rel="SHORTCUT ICON" href="../../Content/images/favicon.ico" type="image/x-icon" />
</head>
<body>

    <div id="container">
        <div id="header">
            <a href="/Home/Index/" target="_parent">
                <div id="site_title"></div>
            </a>
        </div>
        <!-- end of header -->
        <div id="menu">
            <ul>
                <li><a href="/Home/Category/Soup"><b>Супы</b></a></li>
                <li><a href="/Home/Category/SecondCourse"><b>Вторые блюда</b></a></li>
                <li><a href="/Home/Category/Salad"><b>Салаты</b></a></li>
                <li><a href="/Home/Category/Snak"><b>Закуски</b></a></li>
                <li><a href="/Home/Category/Bake"><b>Выпечка</b></a></li>
                <li><a href="/Home/Category/Dessert"><b>Десерты</b></a></li>
                <li><a href="/Home/Category/Drink"><b>Напитки</b></a></li>
            </ul>
        </div>
            @RenderBody()

            <!-- ADD NEW LINE -->
            <div class="cleaner">&nbsp;</div>
            <div id="templatemo_footer">

                Copyright © @DateTime.Now.Year <a href="#"><strong>Надины рецепты</strong></a>
            </div>
            <!-- end of footer -->
            <!--  Free CSS Templates by TemplateMo.com  -->
        </div>

    
</body>
</html>
